html, body {
  height: 100%;
  width: 100%;
  background-image: url(Animal\ Hospital.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}

#title {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 35%;
  font-size: 30px;
  border: double 5px;
  padding: 0px 20px 0px 20px;
  background-color: rgba(160, 160, 160, 0.9);
  font-family: 'Labrada', serif;
}

#start {
  position: absolute;
  width: 150px; 
  height: 50px;
  top: 50%;
  left: 44%;
  font-family: 'Mynerve', cursive;
}

#player {
  position: absolute;
  background-image: url(catchar.png);
  width: 130px;
  height: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  transform: scaleX(-1) rotate(-30deg);
  left: 6%;
  top: 30%;
}

#explosion {
  position: absolute;
  background-image: url(explosion.gif);
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
  top: 50%;
  left: 20%;
}
